<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Charlas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">

</head>
<body>
	<nav>
		<img src="../../assets/img/oktoberTalksLogo.jpg" alt="oktober-logo" class="logo">
		<a class="btn btn_agenda right">Mi Agenda</a>
	</nav>

	<div>
		<a href="#"><img src="../../assets/img/taller.svg" alt="taller" class="logo btn btn_agenda right"></a>
	</div>

	<h3 class="center titulo">Pláticas</h3>
	
	<section class="container">
		<section>
		<div class="card-panel">
			<div class="row">
				<div>
					<h4> _horario_ </h4>
					<h5> Titulo_Evento </h5>
					<p> Nombre_Ponente</p>
					<div class="container">
						<div class="row" data-id= _evento_>
							<p class="center tag col s5 chip"> Lugar </p>
							<a href="#infoEvento" class="center offset-s1 col s5 mas"> Ver Más</a>
						</div>
					</div>
				</div>
			</div>
			</div>
		</section>

			<section>
		<div class="card-panel">
			<div class="row">
				<div >
					<h4>11:30 a 12:20 </h4>
					<h5> Java 8: Lambdas y streams  </h5>
					<p> César Ricardez</p>
					<div class="container">
						<div class="row" data-id= _evento_>
							<p class="center tag col s5 chip"> Nearloft</p>
							<a href="#infoEvento" class="center offset-s1 col s5 mas"> Ver Más</a>
						</div>
					</div>
				</div>
			</div>
			</div>
		</section>


	</section>

	

	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
</body>
</html>