<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>October Talks - Nearsoft.</title>

    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

      <div class="container">
        <nav>
      		<img src="../../assets/img/oktoberTalksLogo.jpg" alt="oktober-logo" class="logo">
      		<a class="btn btn_agenda right">Mi Agenda</a>
      	</nav>
        <div class="row center">
          <div class="col s12">
              <h3>
                Mi agenda
              </h3>
          </div>
        </div>
        <div class="row center">
          <div class="col s4 offset-s4 icono">
                <i class="fa fa-user  fa-5x icono" ></i>
                <!-- <img class="responsive-img" src="cool_pic.jpg"> -->
          </div>
        </div>
        <div class="row center">
          <div class="col s10 offset-s1 ">
            <p>Hola Usuario</p>
            <p>Tus eventos son: </p>

          </div>
        </div>
        <div class="row center">
          <div class="col s4 offset-s4">
            <p>Listado actividades</p>
          </div>
        </div>
      </div>

      <script src="https://use.fontawesome.com/7a2f98e492.js"></script>
  </body>

</html>
