nav{
	background: #FFF;
	box-shadow: none;

	.logo{
		width: 25%;
		margin: 2%;
	}
	.btn_agenda{

		margin: 2%;
	}
}
.mas{
	color: $naranja;
}

.titulo{
	margin-top: 6%;
}
.chip{
	&_tipo{
		background-color: $purpuraOscuro;
		color: white;
	}
	&_lugar{
		background-color: $naranja;
		color: white;
	}
}
